<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>D&T Character Codex</title>

  <link rel="stylesheet" href="/styles.css">
</head>

<body>

  <main class="app">

    <header>
      <h1>Dungeons & Tigers Character Codex</h1>
    </header>


    <section id="controls">

      <input
        id="searchBox"
        type="text"
        placeholder="Search characters..."
      >

      <button id="searchBtn">
        Search
      </button>

      <button id="generateBtn">
        🎲 Generate Random Character
      </button>

    </section>


    <section id="characterContainer"></section>

  </main>

  <script src="/script.js"></script>

</body>
</html>